a {
    color: red;
}

.domainPane {
    display: block;
    border: 1px solid #818181;
}

.domainName {
    display: block;
}

.domainPane:hover {
    background-color:  #DDDDDD;
}

.treeContainer {
    display: inline-block;
    overflow: scroll;
    width: 100%;
    float: left;
}

.treeNormal {
    overflow: hidden;
    width: 100%;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
}

.treePrereq {
    border: 1px solid #f1f1f1;
    background-color: #DDDDDD;
}
.treePane {
    display: inline-block;
    position:relative;
    width: 90%;
    border: 3px solid #444444;
    overflow-x: scroll;
}
.isolatedNodesPane {
    display: table-cell;
    overflow:hidden;
    padding-left: 2%;
    padding-right: 2%;
    border: 3px solid #444444;
}

.treeManager {
    display: inline-block;
    float: bottom;
}

.parentSelectionPane {
    display: inline;
}
.parentSelectionPaneHidden {
    display: none;
}
.parentSelectionPaneInactive {
    display: inline;
    color: #777777;
}

button:disabled {
    color:#A1A1A1;
}

.deleteButton, .editButton, .newChildNodeButton, .nodeDescriptionButton {
    height: 25px;
    width: 25px
}

.deleteButton {
    cursor: pointer;

}
.editButton {
    cursor: pointer;
}

.newChildNodeButton {
    cursor: pointer;
}

.nodeDescriptionButton {
    cursor: pointer;
}

.descriptionPane {
    font-size: 15pt;
    display: block;
}
.childNodes {
    display: inline;
}
.childNodesHidden {
    display: none;
}

.addNewNodeButton {
    display: block;
    float: right;
    top: 50%;
    right: 2%;
    position: absolute;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: darkgreen;
    border-radius:50%;
    margin:auto;
}

.addNewNodeButton p {
    text-align: center;
    position: absolute;
    margin:auto;
    font: 40px "Comic Sans MS";
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addNewNodeButton:hover {
    background-color: #55ff55;
}

.addNewNodeButton:hover::after {
    content: attr(dataTitle);
    position: absolute;
    left:20%; top: -30px;
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
    color: black;
}

.newNodeForm div {
    padding-top: 5px;
    margin-left: 5px;
}

.editNodeForm {
    display: inline-block;
    padding-top: 5px;
    margin-left: 5px;
}

.newNodeTextData {
    display:inline-block;
    float:left;
}

.formTextDataEntry {
   display:block;
}

.formTextDataEntryHidden {
    display:none;
}

.formTextDataEntry label {
    display: inline-block;
    width: 250px;
    text-align: right;
    margin-right: 10px;
}

.prereqPane {
    display: inline-block;
    float:left;
}

.parentPane {
    display: inline-block;
    float:left;
}



.submitNodeButton {
    display: inline-block;
    float: left;
    border-radius: 20%;
    color: white;
    background-color: darkgreen;
    position: relative;
    top: 20%;
    font-size: 15pt;
}

.submitNodeButton:hover {
    background-color: #55ff55;
}

.submitNodeButton:active{
    background-color: #ff5500;
}

.nodeForm {
    display: inline-block;
}

.nodeForm div {
    margin-left: 5px;
}

/* TreeNode sub elements */
.subTree {
    display: inline-block;
    position:relative;
    float: left;
    clear: left;
    /*border: 3px solid #919191;*/
    background-color: #ffffff;
    width: 800px;
}

.subTree .subTree {
    margin-left: 40px;
}


.nodePresentation, .nodePresentationSelected {
    display: inline-block;
    position:relative;
    float:left;
    width: 100%;
    min-width: 60%;
    border : 1px #555555 solid;
    border-radius:9%;
}

.nodePresentation {
    background-color: darkseagreen;
    color: #111111;
}
.nodePresentation:hover {
    background-color: #A5F6B8;
}

.nodePresentationSelected {
    color: white;
    background-color: #190566
}

.nodePresentationSelected:hover {
    color: white;
    background-color: #39248D
}

.nodeMain {
    display: inline-block;
    position:relative;
    float:left;
    width: 100%;
    border-bottom : 2px #444444 solid;
}


.nodeTitle {
    display: inline-block;
    float: left;
    font : 20pt Arial darkslategray;
    line-height: 2;
    padding-left: 10px;
    margin-right: 40px;
    word-wrap: break-word;
    max-width : 80%;
}

.expandButton {
    display: inline;
    cursor: pointer;
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
    border: 2px green solid;
    width: 5%;
}

.nodeExpandButton {
    display: inline-block;
    cursor: pointer;
    font-size: 32pt;
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.nodeManagement {
    display: inline;
    position: absolute;
    float: right;
    top: 5%;
    right:2%;
    overflow:hidden;
}

.nodeManagement img {
    margin-left: 5px;
}

.nodeInfo {
    display: inline-block;
    float: left;
    width: 100%;
    font: 14pt black;
    padding: 10px;
}

.nodeDescription {
    line-height: 2;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    float: left;
    clear: left;
    width: 100%;
}

.childrenPane {
    display: inline-block;
    float: left;
    clear: left;
}

.treeNodeDescription {
    display: block;
    font: 14pt black;
}

.treeNodeDescriptionHidden {
    display: none;
}

.requiredPrereq {
    font: 14pt black;
}

.requiredPrereq:hover {
    font: 14pt red;
    color: red;
}

/*
 Status Pane - element that shows server and frontend events to user
 */
.statusPane, .statusPaneAlert {
    display: inline-block;
    position: fixed;
    font: 14pt Aerial;
    background-color: #DDDDDD;
    color: black;
    width:100%;
    left:0px;
    bottom:0px;
    height:auto;
    min-height: 60px;
    padding:auto;
    margin:auto;
    float: left;
}

.statusPaneHidden {
    display:none;
}

.statusPaneAlert {
    background-color: #DD1111;
    color: white;
}

.serverResponse {
    display:inline-block;
    vertical-align: center;
}

.serverResponse, .uiMessage {
    display:inline-block;
    float: left;
    width : 100%;
    vertical-align: center;
    padding: 10px;
}






.treeManagementPane {
    position: fixed;
    background-color: #DDDDDD;
    width:100%;
    left:0px;
    bottom:0px;
    height:auto;
    min-height: 60px;
    padding:auto;
    margin:auto;
}


